#cover img{
    background-image: url(events-heavenly-header.jpg);
    height: 100%;
    width: 100%;
    
}
#cover:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: #d62e3399;
}
#cover .spot{
    position: absolute;
    top: 30%;
    right: 32%;
    letter-spacing: 1px;
    font-size: 19px;
    color: #fff;
}
#cover .option{
    position: absolute;
    top: 0px;
    left: -20px;
    z-index: 554;
    
}
#cover .page-options a {
    text-decoration: none;   
    color: #fff;
}
#cover .page-options a:hover, #cover a .mg:hover, #cover a:hover{
    color: #09c;
    text-shadow: 2px 2px 20px red;
}
#cover .page-options{
    background-color: #414658;
    border-right: solid 2px teal;
    float: left;
   /* padding-top: 50px;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 20%;
    text-align: left;
    padding-left: 20px;*/
    font-size: 20px;
    padding: 50px 150px 98% 40px;
    text-align: left;
    
}
#cover a .st{
    position: absolute;
    top: 50px;
    right: 175px;
    color: #fff;
}
#cover a .mg, #cover a{
    margin-top: 80%;
    text-decoration: none;   
    color: #fff;
    cursor: pointer;
}
.trim{
    display: none;
}


#acc {
    margin: 100px auto;
    width: 50%;
}
#acc h3{
    background-color: #d62e3399;
    bottom: -8px;
    position: relative; 
    padding-bottom: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 2px firebrick;
}
#acc div{
    bottom: -8px;
    position: relative;
    
    background-color: #cccccc;
}
textarea{
    height: 200px;
    width: 540px;
}
.cor{
    color: red;
}
button{
    padding: 5px;
    background-color: #d62e3399;
}
button:hover{
    background-color: firebrick;
}






